@model ObjectiveModel

@if (ViewBag.parentId == null)
{
    <div class="title">Добавить задачу:</div>
}
else
{
    <div class="title">Добавить подзадачу для: @ViewBag.parentId</div>
}
<form class="content-form" id="CreateObjectiveForm" asp-action="Create" asp-controller="Objective">
    <div class="objective-details-item">
        <input asp-for="Name" class="objective-details-input" id="Name" placeholder="Наименование задачи" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="ParentId" class="objective-details-input" id="ParentId" value="@ViewBag.parentId" hidden/>
    </div>
    <div class="objective-details-item">
        <textarea asp-for="Description" class="objective-details-input" id="Description" placeholder="Описание задачи" cols="30" rows="10"></textarea>
    </div>
    <div class="objective-details-item">
        <textarea asp-for="Performers" class="objective-details-input" id="Performers" placeholder="Список исполнителей" cols="10" rows="10"></textarea>
        <span asp-validation-for="Performers"></span>
    </div>
    <div class="objective-details-item" hidden>
        <span class="date-time">
            <label for="CreatedTime">Дата создания:</label>
            <input asp-for="CreatedTime" class="objective-details-input date-input" id="CreatedTime" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" readonly />
            <span asp-validation-for="CreatedTime"></span>
        </span>
    </div>
    <div class="objective-details-item">
        <span class="quantity">
            <input asp-for="EstimateTime" type="number" class="objective-details-input" id="EstimateTime" placeholder="Плановая трудоёмкость задачи" />
            <span asp-validation-for="EstimateTime"></span>
        </span>
    </div>
    <div class="actions">
        <input class="submit-button" type="submit" id="SaveButton" value="Сохранить"/>
    </div>
</form>
