@model ObjectiveManagement.Domain.Contracts.Models.ObjectiveModel
<div class="title">Детали задачи:</div>
<form class="content-form" asp-action="Create" method="post">
    <div class="objective-details-item">
        <input asp-for="Name"  class="objective-details-input" placeholder="Наименование задачи" />
    </div>
    <div class="objective-details-item">
        <textarea name="Description" class="objective-details-input" placeholder="Описание задачи" cols="30" rows="10"></textarea>
    </div>
    <div class="objective-details-item">
        <textarea name="Performers" class="objective-details-input" placeholder="Список исполнителей" cols="10" rows="10"></textarea>
    </div>
    <div class="objective-details-item">
        <span class="date-time">
            <label for="createTime">Дата создания:</label>
            <input name="CreatedTime" class="objective-details-input date-input" type="datetime-local" id="createTime" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")"/>
        </span>
        <span class="date-time">
            <label for="completedTime">Дата завершения:</label>
            <input name="CompletedTime" class="objective-details-input date-input" type="datetime-local" id="completedTime" value=@DateTime.Now.ToString("yyyy-MM-ddThh:mm")"/>
        </span>
    </div>
    <div class="objective-details-item">
        <span class="quantity">
            <input name="TotalEstimateTime" class="objective-details-input" type="number" placeholder="Плановая трудоёмкость задачи" />
        </span>
        <span class="quantity">
            <input name="TotalFactTime" class="objective-details-input" type="number" placeholder="Фактическое время выполнения" />
        </span>

    </div>
    <div class="actions">
        <button asp-action="" method class="button add-objective">Добавить задачу</button>
    </div>
</form>
