<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objective management</title>
    <link rel="stylesheet" href="/wwwroot/css/style.css">
</head>

<body>
<header>
    <h3>Objective Management System</h3>
</header>
<section>

</section>
<section>
    <div class="main">
        <div class="tree-view box">
            <ul>
                <li>пункт</li>
                <li>пункт           
                    <ul>
                        <li>пункт</li>
                        <li>пункт</li>
                        <li>пункт
                            <ul>
                                <li>пункт</li> 
                                <li>пункт</li>
                                <li>пункт</li>
                            </ul>
                        </li>
                        <li>пункт</li>
                    </ul>
                </li>
                <li>пункт</li>       
                <li>пункт</li>       
            </ul>
        </div>

        <div class="main-window">
            <div class="menu box">
                <a href="#nada" class="button button-inline button-small button-inverse"><span>Добавить задачу</span></a>
                <a href="#nada" class="button button-inline button-small button-inverse"><span>Добавить подзадачу</span></a>
                <a href="#nada" class="button button-inline button-small button-inverse"><span>Удалить задачу</span></a>
            </div>
            <div class="objective-details box">
                <div class="title">Детали задачи:</div>
                <form class="content-form" action="" method="post">
                    <div class="objective-details-item">
                        <input type="text" class="objective-details-input" placeholder="Наименование задачи"/>
                    </div>
                    <div class="objective-details-item">
                        <textarea class="objective-details-input" placeholder="Описание задачи" cols="30" rows="10"></textarea>
                    </div>
                    <div class="objective-details-item">
                        <textarea class="objective-details-input" placeholder="Список исполнителей" cols="10" rows="10"></textarea>
                    </div>
                    <div class="objective-details-item">
                        <span class="date-time">
                            <label for="createTime">Дата создания:</label>
                            <input class="objective-details-input date-input" type="datetime-local" id="createTime"/>
                        </span>
                        <span class="date-time">
                            <label for="completedTime">Дата завершения:</label>
                            <input class="objective-details-input date-input" type="datetime-local" id="completedTime"/>
                        </span>
                    </div>
                    <div class="objective-details-item">
                        <span>
                            <input class="objective-details-input" type="number" placeholder="Плановая трудоёмкость задачи"/>
                        </span>
                        <span>
                            <input class="objective-details-input" type="number" placeholder="Фактическое время выполнения"/>
                        </span>
                           
                    </div>
                    <div class="objective-details-item">
                        <div class="status-radio">
                            <input type="radio" id="radio-one" name="switch-two" value="yes" checked/>
                            <label for="radio-one">Назначена</label>
                            <input type="radio" id="radio-two" name="switch-two" value="maybe" />
                            <label for="radio-two">Выполняется</label>
                            <input type="radio" id="radio-three" name="switch-two" value="no" />
                            <label for="radio-three">Приостановлена</label>
                            <input type="radio" id="radio-four" name="switch-two" value="no" />
                            <label for="radio-four">Завершена</label>
                        </div>
                    </div>
                        
                    <div class="actions">
                        <button class="save-button">Сохранить</button>
                    </div>
        
                </form>
            </div>
        </div>
    


    </div>
</section>
<footer>

</footer>
</body>
</html>