<div class="tree-view box">
</div>

<div class="objective-details box">
    @{await Html.RenderPartialAsync("_CreateNewObjective", new ObjectiveModel());}
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jstree/dist/jstree.js"></script>
    <script type="text/javascript">
        let selectedNodeId;
        $('.tree-view').jstree({
            "plugins": ["search"],
            'core': {
                'data': {
                    'url': function (node) {
                        return node.id === "#" ? "/api/Menu/get_root" : `/api/Menu/get_children/${node.id}`;
                    },
                    'data': function (node) {
                        return { 'id': node.id };
                    }
                },
                "multiple": false,
                "animation": 50,
                "themes.icons": false
            }
        });
        $('.tree-view').on('select_node.jstree',
            function(e, data) {
                $(".objective-details").load("/api/Home/id?id=" + data.node.id);
                selectedNodeId = data.node.id;
                console.log(selectedNodeId);
            });
        $(".add-subobjective").click(function(e) {
            e.preventDefault();
            $(".objective-details").load("/api/Home/add_sub_objective?id=" + selectedNodeId);
        })

    </script>
    <script type="text/javascript">
        let createForm = $("#CreateObjectiveForm");
        createForm.on("submit", function (e) {
            e.preventDefault();
            if (createForm.valid()) {
                CreateObjectiveRequest();
            }
        });
    </script>


}

