/* Стиль текста */
/* Цвета */
body {
  margin: 0px;
  background-color: #E5E5E5;
  font-family: Verdana;
}
.box {
  background: #FFF;
  color: #3A3C4C;
  box-shadow: 0px 0px 15px rgba(170, 179, 204, 0.34);
  padding: 10px;
  border-radius: 10px;
}
header {
  background: #424950;
  color: #FFF;
  display: flex;
  width: 100%;
  min-height: 45px;
  align-items: center;
  justify-content: center;
}
section {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.main .tree-view {
  min-width: 20%;
  margin-left: 2%;
}
.main .tree-view ul {
  list-style: none;
}
.main .tree-view ul li:before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.35em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}
.main .objective-details {
  display: flex;
  flex-direction: column;
  height: 35%;
  margin-left: 2%;
}
.main .objective-details .title {
  text-align: center;
  width: 100%;
}
.main .objective-details .content-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .objective-details .content-form .objective-details-item {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  border-bottom: 1px solid #e2e2e2;
  padding: 2%;
}
.main .objective-details .content-form .objective-details-item .objective-details-input {
  width: 100%;
  min-height: 31px;
}
.main .objective-details .content-form .objective-details-item .date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: calc(45% - 16px);
}
.main .objective-details .content-form .objective-details-item .date-input {
  text-align: center;
}
.main .objective-details .content-form .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 31px;
  padding: 2%;
}
